body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

a.social-icon{
	color:#333333; !important
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-blue {
  background-color: #338ff3;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.book-img{
	margin-right: 16px;
}

.book-title{
	color: #338ff3;
}

.checkout{
	display:flex; 
	justify-content:flex-end; 
	width:100%; 
	padding:0;
}

.mode{
	float:right;
	text-align:right;
	margin-left: 460px;
}

.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}
    
.invoice-box table {
	width: 100%;
    line-height: inherit;
    text-align: left;    
}
    
.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}
 
.invoice-box table tr.top table td {
    padding-bottom: 20px;
}
    
.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
	color: #333;
}
    
.invoice-box table tr.information table td {
    padding-bottom: 40px;
}
    
.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}
    
.invoice-box table tr.details td {
    padding-bottom: 20px;
}
    
.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}
    
.invoice-box table tr.item.last td {
    border-bottom: none;
}
    
.invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
}