{% extends "layout.html" %}
{% block content %}
    <div class="container">
		<div class="row">
			<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(static/images/about.jpg);"></div>
			<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
			<div class="heading-section heading-section-wo-line pt-md-1 pl-md-1 mb-1">
				<div class="ml-md-0">
					<h2 class="mb-4">About Us</h2>
				</div>
			</div>
			<div class="pb-md-5">
				<p>Dear readers,</p>
				<p>We offer huge collection of books in diverse category of Fiction, Non-fiction, Biographies, History, Religions, Self -Help, Children. We also sell in vast collection of Investments and Management, Computers, Engineering, Medical, College and School text references books proposed by different institutes as syllabus across the country.</p>
				<p>We attempt to extend the customer satisfaction by catering easy user-friendly search engine, quick and user-friendly payment options and quicker delivery systems. Upside to all of this, we are disposed to provide exciting offers and pleasant discounts on our books.</p>
				<a class ="social-icon" href="#"><span class="fab fa-twitter fa-lg"></span></a>
				<a class ="social-icon" href="#"><span class="fab fa-facebook fa-lg"></span></a>
				<a class ="social-icon" href="#"><span class="fab fa-google-plus fa-lg"></span></a>
				<a class ="social-icon" href="#"><span class="fab fa-instagram fa-lg"></span></a>

			</div>
			</div>
		</div>
	</div>
{% endblock content %}