{% extends "admin_layout.html" %}
{% block content %}
	{% for book in books %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='Book_Image/' + book.image_file) }}">
			<div class="media-body">
				<div class="article-metadata">
				<div style="float:right">
					<a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('update_book',book_id=book.id) }}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{{ url_for('delete_book',book_id=book.id) }}">Delete</a>	
				</div>
					<h3 class="book-title">{{ book.title }}</h3>
					<small class="text-muted">{{ book.author }}</small>
				</div>
				<p class="article-content">&#8377;{{ book.price }}</p>
			</div>
		</article>
	{% endfor %}
    
{% endblock %}