{% extends "layout.html" %}
{% block content %}
	{% if total==0: %}
		<article class="media content-section">
			<div class="media-body">
				<h3 class="article-title"><center>Your Cart is Empty</h3>
			</div>
		</article>
	{% else: %}	
		{% for cart in carts %}
			<article class="media content-section">
				<img class="rounded-circle article-img" src="{{ url_for('static', filename='Book_Image/' + cart.cartbook.image_file) }}">
					<div class="media-body">
						<div class="article-metadata">
							<div style="float:right">
								<form action="{{ url_for('delete_cart', cart_id=cart.id) }}" method="POST">
									<input class="btn btn-danger" type="submit" value="Delete">
								</form>
							</div>
							<h3 class="book-title">{{ cart.cartbook.title }}</h3>
							<small class="text-muted">{{ cart.cartbook.author }}</small>
						</div>
					<p class="article-content">&#8377;{{ cart.cartbook.price }}</p>
					</div>
			</article>
		{% endfor %}
		<article class="media content-section">
			<h3 class="article-content">Total&nbsp;:</h3>
			<h3 class="article-content">&nbsp;&#8377;{{ total }}</h3>
			<div class="checkout">
				<a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('checkout') }}">CheckOut</a>
			</div>
		</article>
	{% endif %}
{% endblock content %}