{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{url_for('static', filename='Profile_Image/' + current_user.image_file)}}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.username }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
		  <div style="float:right">
			<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('account') }}">Edit</a>
		  </div>
		  <h6 class="text-secondary">{{ current_user.address }}</h6>
		  <p class="text-secondary">{{ current_user.state }}</p>
		  <p class="text-secondary">{{ current_user.pincode }}</p>
        </div>
      </div>
	</div>
	  {% for cart in carts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='Book_Image/' + cart.cartbook.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <h3 class="book-title">{{ cart.cartbook.title }}</h3>
              <small class="text-muted">{{ cart.cartbook.author }}</small>
            </div>
            <p class="article-content">&#8377;{{ cart.cartbook.price }}</p>
          </div>
        </article>
    {% endfor %}
	<article class="media content-section">
		<h3 class="book-title">Payment Mode&nbsp;:</h3>
		<h3 class="article-content mode">Cash On Delivery</h3>
	</article>
	<article class="media content-section">
		<h3 class="article-content">Total&nbsp;:</h3>
		<h3 class="article-content">&nbsp;&#8377;{{ total }}</h3>
	<div class="checkout">
		<div style="float:right">
			<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Cancel</button>
			<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('confirm_order') }}">Confirm</a>
		</div>
	</div>
	</article>
	<!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Cancel Transaction?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<form action="{{ url_for('cancel') }}" method="POST">
						<input class="btn btn-danger" type="submit" value="Cancel">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}