{% extends "layout.html" %}
{% block content %}
	<div class="row d-flex mb-5 contact-info">
		<div class="col-md-12 mb-4">
            <h2 class="h3">Contact Us</h2>
		</div>
        <div class="w-100"></div>
		<div class="col-md-3 d-flex">
			<div class="info bg-white p-4">
				<p><span class="fas fa-address-card"> Address : </span></p>
				<p>198 West 21th Floor, Noida Uttar Pradesh 110016</p>
			</div>
		</div>
		<div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
				<p><span class="fas fa-phone"> Phone : </span></p>
	            <p><a href="tel://+919877888977">+91 987 788 8977</a></p>
	        </div>
        </div>
        <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
				<p><span class="fas fa-envelope-square"> Email : </span> </p>
				<p><a href="mailto:BookStore@gmail.com">BookStore@gmail.com</a></p>
	        </div>
        </div>
        <div class="col-md-3 d-flex">
          	<div class="info bg-white p-4">
				<p><span class="fas fa-link"> Website : </span></p>
	            <p><a href="#">BookStore.com</a></p>
			</div>
        </div>
    </div>
{% endblock content %}